:root {

  --background: #111;
  
  --color-logo: white;

  /* Page Width */
  --max-width: 1300px;

  --font-primary: 'Open Sans', sans-serif;
  --font-secondary: 'Open Sans', sans-serif;
  --font-header: 'Open Sans', sans-serif;
  --font-logo: 'Cherry Swash', sans-serif;

}
