:root {

  --background: #111;

  /* Page Width */
  --max-width: 1300px;

  --primary-font: 'Open Sans', sans-serif;
  --secondary-font: 'Open Sans', sans-serif;
  --header-font: 'Open Sans', sans-serif;

}
